.gallery .container {
  max-width: 600px;
  background-color: black;
  margin: 0 auto;
  text-align: center;
}

.container .frame {
  position: relative;
}

.container .frame .control {
  position: absolute;
  top: 40%;
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
  color: black;
  font-size: 3em;
}

.container .frame .control:hover {
  background-color: rgba(0, 0, 0, 0.4);
  -webkit-transition: background 0.25s linear;
  -moz-transition: background 0.25s linear;
  -ms-transition: background 0.25s linear;
  -o-transition: background 0.25s linear;
  transition: background 0.25s linear;
}

.container .frame #previous {
  left: 5px;
}

.container .frame #next {
  right: 5px;
}

.container .frame #previous::before {
  content: '<';
}

.container .frame #next::before {
  content: '>';
}

.container .frame .image {
  width: 100%;
}

.container .image:first-child {
  display: inline-block;
}

.container .image:not(:first-child) {
  display: none;
}

.container .image img {
  width: 100%;
  height: auto;
}

.container .thumbnails {
  padding: 15px 0 15px 0;
  width: 100%;
  display: block; 
  overflow-x: scroll; 
  white-space: nowrap;
}

.container .thumbnails div {
  display: table-cell;
  height: 100px;
  width: auto;
}

.container .thumbnails img {
  width: inherit; 
  height: inherit;
  opacity: 0.8;
  transition: opacity .25s ease-in-out;
  -moz-transition: opacity .25s ease-in-out;
  -webkit-transition: opacity .25s ease-in-out;
}

.container .thumbnails div.active img {
  opacity: 0.4; 
  transition: opacity .25s ease-in-out;
  -moz-transition: opacity .25s ease-in-out;
  -webkit-transition: opacity .25s ease-in-out;
}

